/* 
 * JQuery UI - select menu styles
 */

.ui-selectmenu-button {
  margin: 8px 16px;
  width: 360px;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 16px;
  color: #e0e0e0;
  background-color: rgba(255,255,255,0.1);
}

.ui-selectmenu-button.ui-corner-all {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.ui-selectmenu-button.ui-corner-top {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ui-selectmenu-button:focus{
	outline: 0;
}

.ui-menu .ui-menu-item {
  color: #808080;
  background-color: rgba(32,32,32,0.75);
  font-size: 14px;
  padding: 6px 12px;
  font-weight: 300;
}

.ui-menu .ui-menu-item:hover {
  color: #a0a0a0;
  background-color: rgba(64,64,64,0.9);
  font-size: 14px;
  padding: 6px 12px;
  font-weight: 300;
}

.ui-menu.ui-corner-bottom {
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: none;
  border-left: 1px solid rgba(128,128,128,0.75);
  border-right: 1px solid rgba(128,128,128,0.75);
  border-bottom: 1px solid rgba(128,128,128,0.75);
}

.ui-menu .ui-menu-item {
  position: relative;
  margin: 0;
  cursor: pointer;
  min-height: 0;
}

.ui-selectmenu-menu {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.ui-selectmenu-button .ui-icon {
  float: right;
  line-height: 20px;
}

.ui-selectmenu-button.ui-corner-top .ui-icon {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ui-selectmenu-button .ui-icon {
  transition:all 100ms ease;
}

.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	Support: IE7
	overflow-x: hidden;
	padding-bottom: 1px;
}

.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	padding: 2px 0.4em;
	margin: 0.5em 0 0 0;
	height: auto;
	border: 0;
}

.ui-selectmenu-open {
	display: block;
}

.ui-selectmenu-button {
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}

.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 1px;
}

.ui-selectmenu-button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}